@media screen and (max-width: 1920px){
    .contactPage .contactSectionMain{
        height: auto;
        display: block;
    }
}
@media screen and (max-width: 1240px){
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }
    .blockAll-sertOurPage img{
        width: 100%;
    }
    .block-flex-plusesAboutPageSection{
        width: calc(50% - 15px);
    }
    .photo-mySwiperBannerMainAboutSlider {
        position: absolute;
        width: 102%;
        left: -1%;
        bottom: -50px;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        left: 40px !important;
    }
    .swiper-button-next {
        right: 25px !important;
    }
    .swiper-button-prev {
        left: 25px !important;
    }
    .link-flex-headerGrey{
        font-size: 16px;
        font-weight: 400;
    }
    .langHeader2 p{
        font-size: 16px;
        font-weight: 400;
    }
    .dropdown-content2 a{
        font-size: 16px;
        font-weight: 400;
    }
    .langHeader span{
        font-size: 16px;
        font-weight: 400;
    }
    .socialsHeader a img{
        height: 30px;
    }
    .telHeader{
        font-size: 16px;
        font-weight: 400;
    }
    .rightHeader{
        gap: 30px;
    }
}
@media screen and (max-width: 900px){
    .textSlideBigMain{
        font-size: 54px;
        line-height: 130%;
    }
    .textSlideSubMain{
        font-size: 18px;
        line-height: 26px;
    }
    .left-flexCardCatalogTop{
        width: 300px;
    }
    .swiper-slide.swiper-slide-mySwiper-left-flexCardCatalogTop2{
        width: 20% !important;
    }
    .flexCardCatalogTop{
        gap: 20px;
    }
    .photoStudentSection{
        margin-top: 70px;
    }
    .photo-bannerGreyTop{
        width: 90%;
        bottom: -35px;
    }
    .revSection-2{
        margin-bottom: 70px;
    }
    .plusesAboutPageSection{
        margin-top: 70px;
    }
    .sertOurPage{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .flex-textAll-p span{
        font-size: 14px;
    }
    .swiper-slideBannerMainAboutSlider1{
        height: 330px;
    }
    .photo-mySwiperBannerMainAboutSlider {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -45px;
    }
    .swiper-slideBannerMainAboutSlider h1{
        font-size: 52px;
        line-height: 130%; /* 192.308% */
    }
    .swiper-slideBannerMainAboutSlider p{
        font-size: 20px;
        margin-top: 15px;
        line-height: 28px; /* 140% */
    }
    .bannerMainAboutSlider{
        margin-top: 100px;
    }
    .block-plusesSectionMain{
        width: calc(50% - 15px);
    }
    .flexCatalogCards .contentMainSellSlide{
        width: calc(50% - 15px);
    }
    .text-block-plusesSectionMain p{
        font-size: 20px;
    }
    .sliderMainSell{
        margin-top: 70px;
    }
    .mainAbout-2{
        margin-top: 70px!important;
    }
    .contactSectionMain{
        margin-top: 70px;
        padding: 30px 0;
    }
    .revSection{
        margin-top: 70px;
    }
    .plusesSectionMain{
        margin-top: 70px;
    }
    .mainAbout{
        margin-top: 130px;
    }
    .titleAll{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .textAll-p{
        font-size: 14px;
        line-height: 150%;
        text-indent: 15px;
    }
    .flex-textAll-p{
        gap: 15px;
    }
    .slide-content .linkSlideBigMain{
        margin-top: 30px;
    }
    .headerWhite{
        padding: 10px 0;
    }
    .headerGrey{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .rightHeader{
        gap: 20px;
    }
    .telHeader{
        display: none;
    }
    .socialsHeader{
        display: none;
    }
    .menu__box .socialsHeader{
        display: flex;
    }
    .block-left-flexBlogCatalog img{
        width: 200px;
    }
    .block-left-flexBlogCatalog{
        align-items: flex-start;
        gap: 15px;
    }
    .rightText-left-flexBlogCatalog h3{
        font-size: 18px;
    }
    .rightText-left-flexBlogCatalog p{
        font-size: 13px;
        line-height: 130%;
    }
    .rightText-left-flexBlogCatalog{
        gap: 7px;
    }
    .left-flexBlogCatalog{
        gap: 20px;
    }
    .flexBlogCatalog{
        gap: 20px;
    }
    .right-flexBlogCatalog{
        width: 280px;
        min-width: 280px;
        padding: 15px;
        gap: 15px;
    }
    .flexSearchBlog input{
        height: 35px;
        font-size: 14px;
    }
    .flexSearchBlog input::placeholder{
        font-size: 14px;
    }
    .flexSearchBlog a {
        top: 6px;
    }
    .flexBlock-right-flexBlogCatalog h4{
        font-size: 16px;
        line-height: 130%;
    }
    .line-flexBlock-right-flexBlogCatalog p{
        font-size: 14px;
    }
    .flexBlock-right-flexBlogCatalog{
        gap: 10px;
    }
}
@media screen and (max-width: 800px){
    .flexMainAbout{
        flex-wrap: wrap;
    }
    .blockDeliveryBold{
        padding: 15px;
        margin: 20px 0 20px 20px;
        width: 95%;
    }
    .blockDeliveryBold h5{
        font-size: 20px;
    }
    .block-left-flexBlogCatalog{
        flex-direction: column;
    }
    .block-left-flexBlogCatalog img{
        width: 100%;
    }
    .right-flexBlogCatalog{
        min-width: auto;
        width: 100%;
    }
    .formFooterContact{
        min-width: auto;
        width: 100%;
        gap: 15px;
    }
    .photo-mySwiperBannerMainAboutSlider {
        position: absolute;
        width: 98%;
        left: 1%;
        bottom: -35px;
    }
    .flexFooterFirst{
        flex-wrap: wrap;
    }
    .photo-flexMainAbout{
        width: 100%;
    }
    .left-flexMainAbout .linkSlideBigMain{
        margin-top: 15px;
    }
    .mainAbout{
        margin-top: 100px;
    }
    .flex-contactSectionMain{
        gap: 30px;
        flex-direction: column;
    }
    .map{
        height: 200px;
    }
    .logoFooter img{
        height: 40px;
    }
    .socialsFooter p{
        font-size: 15px;
    }
    .flex-socialsFooter a img{
        height: 30px;
    }
    .flex-socialsFooter{
        gap: 10px;
    }
    .flexFooterFirst{
        gap: 10px;
    }
    footer{
        border-top: 3px solid #FB6F58;
        padding-top: 15px;
    }
}
@media screen and (max-width: 580px){
    .textSlideBigMain{
        font-size: 32px;
        max-width: 320px;
        margin-left: 0px !important;
    }
    .textSlideSubMain{
        font-size: 14px;
        line-height: 20px;
        max-width: 320px;
        margin-top: 10px;
        margin-left: 0px !important;
    }
    .slide-bg{
        height: 300px;
    }
    .parallax-slider{
        height: 300px;
    }
    .site-header{
        top: 300px;
    }
    .line-line-blockInfo-right-flexCardCatalogTop-2{
        font-size: 20px;
    }
    .flexBlogPage h3{
        font-size: 20px;
    }
    .flexBlogPage{
        gap: 15px;
    }
    .blogContent .blogBannerBlock{
        width: calc(100% - 15px);
        margin: 15px 0 15px 15px;
        padding: 15px 20px;
    }
    .blogContent .blogBannerBlock p{
        font-size: 16px;
        line-height: 24px;
    }
    .flexBlogCatalog{
        flex-direction: column-reverse;
    }
    .flexCardCatalogTop{
        flex-direction: column;
    }
    .left-flexCardCatalogTop{
        width: 100%;
    }
    .accordion-header{
        font-size: 16px;
    }
    .file-row{
        font-size: 14px;
    }
    .accordion{
        gap: 15px;
        margin-top: 30px;
    }
    .file-row{
        flex-wrap: wrap;
    }
    .line-blockInfo-right-flexCardCatalogTop span{
        font-size: 14px;
    }
    .line-blockInfo-right-flexCardCatalogTop p{
        font-size: 14px;
    }
    .blockInfo-right-flexCardCatalogTop{
        gap: 3px;
    }
    .right-flexCardCatalogTop{
        gap: 10px;
    }
    .price-right-flexCardCatalogTop h2{
        font-size: 20px;
    }
    .formFooterContact input{
        height: 35px;
    }
    .formFooterContact textarea{
        height: 35px;
    }
    .formFooterContact select{
        height: 35px;
    }
    .formFooterContact button{
        height: 35px;
    }
    .flexPoliteForm input{
        width: 20px!important;
        height: 20px!important;
    }
    .flexCatalogCards{
        gap: 15px;
    }
    .flexPagination{
        margin-top: 30px;
        gap: 10px;
    }
    .flexCatalogCards .contentMainSellSlide{
        width: 100%;
    }
    .photoStudentSection{
        margin-top: 40px;
    }
    .hover-swiper-slideMainStudentSection2 p{
        font-size: 14px;
    }
    .swiper-slideMainStudentSection3 p{
        font-size: 14px;
    }
    .swiper-slideMainStudentSection3{
        gap: 5px;
    }
    .swiper-button-nextBannerRev3, .swiper-button-prevBannerRev3 {
        margin-top: -20px !important;
    }
    .swiper-button-nextBannerRev4, .swiper-button-prevBannerRev4 {
        margin-top: -20px !important;
    }
    .bannerGreyTop h2{
        font-size: 20px;
    }
    .bannerGreyTop p{
        font-size: 14px;
    }
    .bannerGreyTop{
        padding: 15px;
        gap: 10px;
    }
    .photo-bannerGreyTop {
        width: 94%;
        bottom: -20px;
    }
    .revSection-2{
        margin-bottom: 40px;
    }
    .flex-sertOurPage{
        flex-direction: column;
    }
    .sertOurPage{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .block-flex-plusesAboutPageSection{
        width: 100%;
        line-height: 120%;
        padding: 10px;
    }
    .flex-plusesAboutPageSection{
        gap: 5px;
    }
    .photoAndTitle-block-flex-plusesAboutPageSection p{
        font-size: 16px;
    }
    .plusesAboutPageSection{
        margin-top: 40px;
    }
    .blockHover-block-flex-plusesAboutPageSection p{
        font-size: 14px;
    }
    .mainAbout-2 {
        margin-top: 40px !important;
    }
    .flexFooterFirst{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .swiper-slideBannerMainAboutSlider1{
        padding: 20px;
        height: 170px;
    }
    .photo-mySwiperBannerMainAboutSlider {
        position: absolute;
        width: 104%;
        left: -2%;
        bottom: -30px;
    }
    .swiper-slideBannerMainAboutSlider h1{
        font-size: 32px;
    }
    .swiper-slideBannerMainAboutSlider p{
        font-size: 16px;
        margin-top: 10px;
    }
    .flex-footerBottom{
        align-items: center;
        justify-content: center;
    }
    .flex-flex-footerBottom{
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    .block-leftFlex-contactSectionMain span{
        font-size: 14px;
    }
    .block-leftFlex-contactSectionMain a{
        font-size: 16px;
    }
    .leftFlex-contactSectionMain{
        max-width: none;
        gap: 10px;
    }
    .block-leftFlex-contactSectionMain p{
        font-size: 16px;
    }
    .bottomRev h3{
        font-size: 14px;
    }
    .flex-plusesSectionMain{
        gap: 15px;
    }
    .block-plusesSectionMain{
        width: 100%;
        height: 150px;
    }
    .swiper-slideMainRevContent{
        padding-left: 50px;
        padding-right: 50px;
    }
    .textRev{
        font-size: 12px;
    }
    .contactSectionMain{
        margin-top: 40px;
    }
    .revSection{
        margin-top: 40px;
    }
    .photo-block-plusesSectionMain{
        height: 100px;
    }
    .sliderMainSell{
        margin-top: 40px;
    }
    .plusesSectionMain{
        margin-top: 40px;
    }
    .text-contentMainSellSlide h3{
        font-size: 18px;
    }
    .text-contentMainSellSlide p{
        font-size: 14px;
    }
    .flex-text-contentMainSellSlide span{
        font-size: 18px;
    }
    .text-contentMainSellSlide{
        gap: 10px;
        padding: 0 10px;
    }
    .flex-text-contentMainSellSlide{
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }
    .flex-text-contentMainSellSlide .linkSlideBigMain{
        padding: 0 15px;
    }
    .contentMainSellSlide{
        padding-bottom: 15px;
        gap: 15px;
    }
    .photoContentMainSellSlide,
    video.photoContentMainSellSlide{
        height: 320px;
    }
    .titleAll{
        font-size: 20px;
    }
    .mainAbout{
        margin-top: 80px;
    }
    .linkSlideBigMain{
        height: 30px;
        font-size: 14px;
    }
    .slide-content .linkSlideBigMain{
        margin-top: 20px;
        margin-left: 0 !important;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        left: 15px !important;
    }
    .logoHeader img{
        height: 40px;
    }

}
@media screen and (max-width: 460px){
    .photo-mySwiperBannerMainAboutSlider {
        position: absolute;
        width: 101%;
        left: -1%;
        bottom: -20px;
    }
    .swiper-slideBannerMainAboutSlider1{
        padding-top: 20px;
    }
    .swiper-slideBannerMainAboutSlider1{
        justify-content: flex-start;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 15px!important;
    }
}
@media screen and (max-width: 900px){
    .formContactTopInputs{
        flex-direction: column;
    }
    .contactSectionMainPage .flex-contactSectionMain{
        flex-direction: column;
    }
    .faqBlockGrey{
        padding: 25px;
    }
}
@media screen and (max-width: 580px){
    .faqSectionContact{
        padding: 40px 0;
    }
    .contactFormSection{
        padding: 40px 0;
    }
    .faqBlockGrey{
        padding: 20px;
        border-radius: 15px;
    }
    .faqBlockGrey .accordion-header{
        font-size: 14px;
        padding: 15px;
    }
    .contactSectionMainPage{
        padding: 40px 0;
    }
}